body{
    background-color: #fed36a;
    background: url("city.png") no-repeat center center fixed;
    background-size: cover;
    font-family: poiret;
    font-weight: 500;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
@font-face {
    font-family: poiret;
    src: url(PoiretOne-Regular.ttf);
}
#bottom{
    font-weight: 900;
    font-size: 25px;
    display: inline-block;
}
#vei{
    float: right;
    bottom:0;
    right:0;
}
.head{
    font-weight:bolder;
    display:absolute;
    left:20px;
}
#form{
    display: none;
    font-family: poiret;
}
#buttonSubmit{
  position: relative;
  float:left;
  left:10px;
}

/* NOTE: Buttons */
button {
  display: block;
  font-family: poiret;
  background-color: #34602f;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 15px;
  margin: 20px auto;
  border-color: maroon;
  color: black;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 10px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
}
button:active {
  box-shadow: 0 5px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0, 0, 0, 0.9);
}


#message{
    font-family: poiret;
    font-size: 30px;
}
input{
    font-family: poiret;
}
/* NOTE: Navigation Bar */
#topUList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    border:0;
    display:inline-block;
}
#topList{
    float: left;
    display:inline;
}
#logo{
    float:left;
    margin: 0px;
    padding: 0px;
}
#topLink{
    font-size: 29px;
    display:inline;
}
#topLink: hover{
    text-decoration: none;
}
#navigationDiv{
    color: black;
    overflow: visible;
}
#topList #topLink{
    position: relative;
    display:inline-block;
    color:white;
    padding: 23px;
    text-decoration: none;
    border-color: #34602f;
}
#topList #topLink:hover{
    cursor: pointer;
}
@font-face {
    font-family: navFont;
    src: url(Intro.otf)
}
.homeNav{
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: navFont;
}
.aboutNav{
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: navFont;
}
.contactNav{
    color: black;
    font-weight: 900;
    font-size: 40px;
    font-family: navFont;
}
.dropdown {
    position: absolute;
    display: block;
    z-index: 999;
}
.dropdown-content {
    display: none;
    position:absolute;
    z-index: 999;
}

#dropdown{
    font-family: navFont;
    font-size:45px;
    color:black;
    z-index: 999;
    position:relative;
}
.dropdownmenu{
    z-index: 999;
}
span{
    font-family:navFont;
    text-decoration: none;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
#productNav{
    color: black;
    font-weight: 900;
    font-size: 40px;
    padding-top:3px;
    padding-left:17px;
    font-family: navFont;
}
/* NOTE: Footer New*/
footer{
        position: absolute;
        left: 0;
        height: auto;
        width: 100%;
        overflow:hidden;
        padding:0;
}
